// None box-shadow
* {
    box-shadow: none !important;
}

// ajaxStart - ajaxStop
#ajaxLoader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $first_gray;
    z-index: 2000;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
    &.active {
        display: table;
    }
    i {
        color: $first_white;
        display: table-cell;
        font-size: 3em;
        margin: 0 auto;
        vertical-align: middle;
    }
}

// Customizations

// DataTables
.table-serempre td:last-child {
    text-align: center !important;
}